{
  //bot.py related config
  "TOKEN": "",
  "CHANNEL_ID": "",

  //reddit.py related config
  "client_id": "",
  "client_secret": "",
  "password": "",
  "user_agent": "",
  "username": "",
  "check_for_async": ""
}
